{% extends 'blogApp/base.html' %}
{% load static %}
{% block content %}

{% for post in posts %}
<section class="page-section clearfix">
  <div class="container">
    <div
      class="intro mb-4 text-center bg-faded p-5 rounded"
      style="display: flex; align-items: center"
    >
      <!-- Div para la imagen -->
      <div style="margin-right: 20px;">
        {% if post.imagen %}
          <img
            src="{{post.imagen.url }}"
            class="intro-img img-fluid rounded"
            alt=""
            style="max-width: 600px;"
          />
        {% else %}
          <!-- Si no hay imagen, muestra un marcador de posición o un mensaje -->
          <p>No hay imagen disponible</p>
        {% endif %}
      </div>
      
      <!-- Div para el título y el contenido -->
      <div style="flex: 1;">
        <h2 class="section-heading mb-4">
          <span class="section-heading-lower">{{ post.titulo }}</span>
          <span class="section-heading-upper">{{ post.contenido }}</span>
        </h2>

        <!-- Div para el autor -->
        <div style="text-align: right; font-size: 0.8em">
          Autor: {{post.autor}}
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endblock %}


